.contactus-section {
    & .contactcard {
        transition: var(--ease-transition);
        position: relative;
        border: 1px solid var(--body-bg-dark);
        background-color: var(--light-color);
        & .card-body {
            & .address {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                transition: var(--ease-transition);
                margin: 0px;
                & span {
                    width: 50px;
                    height: 50px;
                    min-width: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--light-blue-color);
                    padding: 10px;
                    transition: var(--ease-transition);
                    & img {
                        transition: var(--ease-transition);
                    }
                }
            }
        }
        &:hover{
            background-color: var(--white);
            transform: translateY(-5px);
        }
    }
}

.contactus-sections {
    & .services {
        & .card-body{
            & .trending-topic {
                & li {
                    & .content  {
                        position: relative;
                        padding-left: 30px;
                        &::after{
                            content: '';
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            padding: 4px;
                            border: 2px solid var(--primary);
                        }
                    }
                }
            }
        }
    }
    & .quotecard {
        & .card-body{
            padding: 40px;
            & .quteimg {
                height: 50px;
                width: 50px;
                display: inline-block;
            }
        }
    }
}


// @media screen and (max-width: 576px) {
//     .contactus-section {
//         & .contactcard {
//             & .card-body {
//                 & .address {
//                     gap: 15px;
//                     & span {
//                         width: 40px;
//                         height: 40px;
//                         min-width: 40px;
//                         padding: 8px;
//                     }
//                 }
//             }
//         }
//     }
// }

// .map-section {
//     & iframe {
//         display: flex;
//         filter: grayscale(1);
//     }
// }