
@media screen and (min-width:1199px) and (max-width:1399px){
	:root{
		--heading-1: 50px;
		--heading-2: 40px;
		--heading-3: 30px;
		--heading-4: 24px;
	}
}

@media screen and (max-width:1199px){
	:root{
		--heading-1: 45px;
		--heading-2: 35px;
		--heading-3: 28px;
		--heading-4: 22px;
		--heading-5: 20px;
		--heading-6: 16px;

		--rounded-40: 35px;
		--rounded-30: 28px;
		--rounded-24: 22px;
		--rounded-20: 18px;
	}
	.patb-100{
		padding-top: 80px;
		padding-bottom: 80px;	
	}
	.pat-100{
		padding-top: 80px;
	}
	.pab-100{
		padding-bottom: 80px;
	}

	
}

@media screen and (max-width:991px){
	.patb-100{
		padding-top: 50px;
		padding-bottom: 50px;	
	}
	.pat-100{
		padding-top: 50px;
	}
	.pab-100{
		padding-bottom: 50px;
	}
	:root{
		--heading-1: 40px;
		--heading-2: 30px;
		--heading-3: 24px;
		--heading-4: 20px;
		--heading-5: 18px;

		--rounded-40: 30px;
		--rounded-30: 24px;
		--rounded-24: 20px;
		--rounded-20: 16px;
	}
	.fs-20{
		font-size: 18px;
	}
	.fs-18{
		font-size: 16px;
	}
	/* .fs-16{
		font-size: 15px;
	} */
	.heading {
		gap: 8px;
	}
	.sectionHeading {
		margin-bottom: 1.5rem;
	}
}

@media screen and (max-width:767px){
	:root{
		--heading-1: 35px;
		--heading-2: 28px;
		--heading-4: 18px;
		--heading-5: 16px;
	}
	/* .fs-20{
		font-size: 16px;
	}
	.fs-18{
		font-size: 15px;
	} */
	/* .fs-16{
		font-size: 14px;
	} */
	/* .fs-14{
		font-size: 12px;
	} */
	.themebtn{
		padding: 8px 16px;
		font-size: 12px;
		border-radius: 12px;
    }
	.heading {
		gap: 6px;
	}
}

@media screen and (max-width:575px){
	:root{
		--heading-1: 30px;
		--heading-3: 22px;
		/* --heading-6: 14px; */
	}
	.heading {
		gap: 4px;
	}
}
